#banner { height:100px; border:1px solid black; width:1000px; }
#leftpane { float:left; width:200px; border-left: 0px solid black; border-right: 0px solid black;}
#mainpane { border-right: 0px solid black ; width:800px}
#searchpanel {  border-bottom: 0px solid black; border-left: 0px solid black; border-right: 0px solid black; text-align:center; width:1000px;}
#searchtext { width:70% ; padding:5px;}
#login {padding:5px;background-color:orange;}
#tabs {height:30px;background-color:aqua;border-bottom: 0px solid black; border-left: 0px solid black; border-right: 0px solid black; width:1000px; padding:1px;;}
#center { margin:auto; width:1000px;}